.auth-page {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(226, 214, 252);
}

@media (max-width: 480px) {
  /* Styles for tablets and larger screens */
  .auth-page {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

  }

  .login-container, .password-container { 
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    line-height: 32px;
  }

  .button-container { 
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
  }

  input {
    height: 28px;
    width: 258px;
    border: 1px solid black;
  }

  button { 
    
  }

}
